<div class="page" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:section name="HeaderAssets">
        <title>Super title from fluid</title>
    </f:section>
    <header class="page-head">
        <f:render section="Header"/>
    </header>
    <main class="page-content">
        <f:render section="Content"/>
    </main>
    <footer>
        <f:render section="Footer"/>
    </footer>

    <f:render section="Header"/>
    <f:render section="Content"/>
    <f:alias map="{events_path:'EXT:user_template/Resources/Public/Images/home-11-2050x991.jpg',
    events:'{f:uri.image(src:{events_path})}'}"/>
    <footer class="page-foot section-40 section-sm-80 section-md-top-100 section-md-bottom-80 bg-image"
            style="background-image: url({events});">
        <div class="shell">
            <div class="range range-sm-bottom range-sm-justify range-lg-left offset-top-30 offset-sm-top-60
            offset-md-top-100">
                <f:render section="footerNavigation"/>
                <div class="cell-xs-12 cell-sm-8 cell-md-3 cell-lg-4">
                    <div class="inset-1"><a class="brand brand-xl" href="/">
                        <div class="brand-body">
                            <div class="brand-name">
                                <f:comment>
                                    <f:image alt="" height="139"
                                             src="EXT:user_template/Resources/Public/Images/logo-303x139.png"
                                             width="303"/>
                                </f:comment>
                            </div>
                            <div class="brand-slogan">{brandSlogan}</div>
                        </div>
                        <div class="brand-right">
                            <f:image src="EXT:user_template/Resources/Public/Images/Logo Gemeinde1!weiss.png"/>
                        </div>
                    </a></div>
                </div>
                <div class="cell-xs-12 cell-sm-4 cell-md-3 cell-lg-3 offset-top-20 offset-md-top-0">
                    <address class="contact-info contact-info-contrast">
                        <p class="text-style-2 text-primary">Telefon:</p>
                        <a class="link link-md link-primary offset-top-0"
                           href="callto:#">08092-2309330</a>
                        <p class="offset-top-9 text-style-2 text-primary">
                            Christliche Gemeinde Grafing, Tegernauer Stra&szlig;e 3,
                            85567 Grafing
                        </p>
                        <dl class="dl-inline">
                            <dt class="text-style-2">Email</dt>
                            <dd class="text-style-2"><a class="link"
                                                        href="mailto:info@cg-grafing.de">info@cg-grafing.de</a></dd>
                        </dl>
                    </address>
                </div>
            </div>
        </div>
    </footer>
</div>

<!-- Global Mailform Output-->
<div class="snackbars" id="form-output-global"></div>
<!-- PhotoSwipe Gallery-->
<div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
            <div class="pswp__caption">
                <div class="pswp__caption__cent"></div>
            </div>
        </div>
    </div>
</div>
