<html data-namespace-typo3-fluid="true" lang="de" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
    <f:layout name="Default"/>
    <f:section name="Header">
        <header class="page-head">
            <f:render arguments="{_all}" partial="Navbar" section="main"/>
        </header>
    </f:section>

    <f:section name="Content">
        <main class="page-content">
            <section class="section-40 section-sm-bottom-110 bg-image bg-image-1">
                <div class="shell">
                    {mainContent->f:format.raw()}
                </div>
            </section>
        </main>
    </f:section>

    <f:section name="Footer">
        <f:render arguments="{_all}" partial="Footer" section="main"/>
    </f:section>
</html>
