<section>
    <div class="shell shell-variant-1">
        <div class="range">
            <div class="cell-xs-12">
                <div class="bg-image bg-blur-child">
                    <!-- Owl Carousel-->
                    <div data-items="1" data-stage-padding="0" data-loop="false" data-margin="0"
                         data-animation-in="fadeIn" data-animation-out="fadeOut" data-dots="true"
                         data-mousedrag="false" class="owl-carousel owl-carousel-style-1">
                        <div class="item">
                            <div class="item-body">
                                <p class="h1 text-style-1">
                                    <span class="letters-justify">Living&nbsp;&</span>
                                    <span class="letters-justify">sharing</span>
                                    <span class="letters-justify">the&nbsp;gospel</span>
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-body">
                                <p class="h1 text-style-1"><span class="letters-justify">Continuing</span>
                                    <span class="letters-justify">the&nbsp;work</span><span
                                            class="letters-justify">of&nbsp;Jesus</span></p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-body">
                                <p class="h1 text-style-1">
                                    <span class="letters-justify">A&nbsp;place&nbsp;where</span><span
                                        class="letters-justify">unconditional</span><span
                                        class="letters-justify">love&nbsp;changes</span><span
                                        class="letters-justify">lives</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>