<!-- RD Navbar-->
<div xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" class="rd-navbar-wrap">
    <nav data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed"
         data-md-device-layout="rd-navbar-fixed"
         data-md-layout="rd-navbar-fullwidth" data-lg-layout="rd-navbar-fullwidth"
         data-lg-device-layout="rd-navbar-fullwidth" data-stick-up-clone="true"
         data-md-stick-up-offset="250px"
         data-lg-stick-up-offset="250px" class="rd-navbar">
        <div class="rd-navbar-inner">
            <!-- RD Navbar Panel-->
            <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button data-rd-navbar-toggle=".rd-navbar-nav-wrap" class="rd-navbar-toggle">
                    <span></span>
                </button>
                <!-- RD Navbar Brand--><a href="/" class="rd-navbar-brand brand-xl">
                <div class="brand-body">
                    <div class="brand-name">
                        <f:image src="EXT:user_template/Resources/Public/Images/logo-303x139.png" alt=""
                                 width="303" height="139"/>
                    </div>
                    <div class="brand-slogan">{brandSlogan}</div>
                </div>
                <div class="brand-right">
                    <f:image src="EXT:user_template/Resources/Public/Images/logo-147x50.png" alt=""
                             width="147"
                             height="50"/>
                </div>
            </a>
            </div>
            <div class="rd-navbar-nav-wrap">
                <!-- RD Navbar Nav-->
                <ul class="rd-navbar-nav">
                    <f:for each="{headerMenu}" as="headerMenuItem">
                        <li class="{f:if(condition: headerMenuItem.active, then: 'active')}">
                            <a href="{headerMenuItem.link}">{headerMenuItem.title}</a>
                        </li>
                    </f:for>
                </ul>
            </div>
        </div>
    </nav>
</div>
