<!-- Page-->
<div xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" class="page">
    <!-- Page Header-->
    <f:render section="Header"/>
    <!-- Page Content-->
    <f:render section="Content"/>
    <!-- Page Footer-->
    <!-- upcoming events:-->
    <f:alias map="{events_path:'EXT:user_template/Resources/Public/Images/home-11-2050x991.jpg',
    events:'{f:uri.image(src:{events_path})}'}"/>
    <footer style="background-image: url({events});"
            class="page-foot-1 section-40 section-sm-80 section-md-top-100 section-md-bottom-80 bg-image bg-image-dark">
        <div class="shell">
            <div class="range">
                <div class="cell-xs-12">
                    <h1>upcoming events:</h1>
                </div>
            </div>
            <div class="range offset-top-15">
                <div class="cell-sm-6 cell-md-4 height-fill"><a href="#" class="post event-post">
                    <div class="unit unit-spacing-xl unit-horizontal">
                        <div class="unit-left">
                            <time datetime="2016-08-25"><span>08</span><span>25</span></time>
                        </div>
                        <div class="unit-body">
                            <p>
                                As a basic introduction to our church family, Introductory Class is designed to
                                clearly
                                explain who and what our church is. It covers Our Salvation, Our Statements, and Our
                                Structure that we follow during our service.

                            </p>
                        </div>
                    </div>
                </a></div>
                <div class="cell-sm-6 cell-md-4 height-fill offset-top-20 offset-sm-top-0"><a href="#"
                                                                                              class="post event-post">
                    <div class="unit unit-spacing-xl unit-horizontal">
                        <div class="unit-left">
                            <time datetime="2016-08-20"><span>08</span><span>20</span></time>
                        </div>
                        <div class="unit-body">
                            <p>
                                Just because Small Groups are over, it does not mean we can't gather in groups and
                                dig
                                into God's word! Join us at local Christian restaurant as we eat delicious breakfast
                                while discussing challenging topics from the Bible.

                            </p>
                        </div>
                    </div>
                </a></div>
                <div class="cell-sm-6 cell-md-4 height-fill offset-top-20 offset-md-top-0"><a href="#"
                                                                                              class="post event-post">
                    <div class="unit unit-spacing-xl unit-horizontal">
                        <div class="unit-left">
                            <time datetime="2016-08-15"><span>08</span><span>15</span></time>
                        </div>
                        <div class="unit-body">
                            <p>The Christian Gathering is a weekly coffee reception before the main service where
                                anyone
                                can connect with our church members. Everyone is welcome to attend. There is no
                                registration required even if you are not the attendee of our church.</p>
                        </div>
                    </div>
                </a></div>
            </div>
            <div class="range">
                <div class="cell-sm-8 cell-md-5 text-md-right">
                    <h5 class="shift-1">
                        Enter your email here to
                        receive our news & updates:
                    </h5>
                </div>
                <div class="cell-md-7 offset-top-20 offset-md-top-0">
                    <!-- RD Mailform-->
                    <form data-form-output="form-output-global" data-form-type="subscribe" method="post"
                          action="bat/rd-mailform.php" class="rd-mailform rd-mailform-inline text-left">
                        <div class="form-group">
                            <label for="contact-email" class="form-label">E-Mail</label>
                            <input id="contact-email" type="email" name="email" data-constraints="@Required @Email"
                                   class="form-control">
                        </div>
                        <button type="submit" class="btn btn-transparent">subscribe</button>
                    </form>
                </div>
            </div>
            <div class="range range-sm-bottom range-sm-justify range-lg-left offset-top-30 offset-sm-top-60
            offset-md-top-100 offset-lg-top-167">
                <div class="cell-md-6">
                    <div class="inset-1"><a href="/" class="brand brand-xl">
                        <div class="brand-body">
                            <div class="brand-name">
                                <f:image src="EXT:user_template/Resources/Public/Images/logo-303x139.png" alt=""
                                         width="303" height="139"/>
                            </div>
                            <div class="brand-slogan">{brandSlogan}</div>
                        </div>
                        <div class="brand-right">
                            <f:image src="EXT:user_template/Resources/Public/Images/logo-147x50.png" alt=""
                                     width="147"
                                     height="50"/>
                        </div>
                    </a></div>
                </div>
                <div class="cell-sm-5 cell-md-3 offset-top-20 offset-md-top-0">
                    <address class="contact-info contact-info-contrast">
                        <p class="text-style-2 text-primary">Call us:</p>
                        <a href="callto:#"
                           class="link link-md link-primary offset-top-0">800-2345-6789</a>
                        <p class="offset-top-9 text-style-2 text-primary">
                            My Company , 4578 Marmora Road,
                            Glasgow D04 89GR
                        </p>
                        <dl class="dl-inline">
                            <dt class="text-style-2">Email</dt>
                            <dd class="text-style-2"><a href="mailto:#" class="link">info@demolink.org</a></dd>
                        </dl>
                    </address>
                </div>
                <div class="cell-sm-5 cell-md-3 cell-sm-middle offset-top-20 offset-md-top-0">
                    <ul class="list-inline list-inline-xs">
                        <li><a href="#" class="icon icon-sm icon-primary fa-facebook"></a></li>
                        <li><a href="#" class="icon icon-sm icon-primary fa-google-plus"></a></li>
                        <li><a href="#" class="icon icon-sm icon-primary fa-linkedin"></a></li>
                        <li><a href="#" class="icon icon-sm icon-primary fa-twitter"></a></li>
                    </ul>
                </div>
            </div>
            <div class="range range-wrap-1">
                <div class="cell-xs-12">
                    <p class="rights">&#169;&nbsp;<span id="copyright-year"></span>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                            href="privacy.html">Privacy Policy</a>
                        More <a rel="nofollow"
                                href="http://www.templatemonster.com/category.php?category=316&type=1"
                                target="_blank">Christian Templates at TemplateMonster.com</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- RD Google Map-->
    <div data-zoom="14" data-x="-73.9874068" data-y="40.643180"
         data-styles="
[{&quot;featureType&quot;:&quot;all&quot;,&quot;elementType&quot;:&quot;labels.text.fill&quot;,&quot;stylers&quot;:
[{&quot;saturation&quot;:36},
{&quot;color&quot;:&quot;#000000&quot;},
{&quot;lightness&quot;:40}]},
{&quot;featureType&quot;:&quot;all&quot;,&quot;elementType&quot;:&quot;labels.text.stroke&quot;,&quot;stylers&quot;:
[{&quot;visibility&quot;:&quot;on&quot;},
{&quot;color&quot;:&quot;#000000&quot;},
{&quot;lightness&quot;:16}]},
{&quot;featureType&quot;:&quot;all&quot;,&quot;elementType&quot;:&quot;labels.icon&quot;,&quot;stylers&quot;:
[{&quot;visibility&quot;:&quot;off&quot;}]},
{&quot;featureType&quot;:&quot;administrative&quot;,&quot;elementType&quot;:&quot;geometry.fill&quot;,
&quot;stylers&quot;:
[{&quot;color&quot;:&quot;#000000&quot;},
{&quot;lightness&quot;:20}]},
{&quot;featureType&quot;:&quot;administrative&quot;,&quot;elementType&quot;:&quot;geometry.stroke&quot;,
&quot;stylers&quot;:
[{&quot;color&quot;:&quot;#000000&quot;},
{&quot;lightness&quot;:17},
{&quot;weight&quot;:1.2}]},
{&quot;featureType&quot;:&quot;administrative.locality&quot;,&quot;elementType&quot;:&quot;all&quot;,
&quot;stylers&quot;:
[{&quot;visibility&quot;:&quot;on&quot;}]},
{&quot;featureType&quot;:&quot;administrative.neighborhood&quot;,&quot;elementType&quot;:&quot;all&quot;,
&quot;stylers&quot;:
[{&quot;visibility&quot;:&quot;on&quot;}]},
{&quot;featureType&quot;:&quot;administrative.land_parcel&quot;,&quot;elementType&quot;:&quot;all&quot;,
&quot;stylers&quot;:
[{&quot;visibility&quot;:&quot;on&quot;}]},
{&quot;featureType&quot;:&quot;landscape&quot;,&quot;elementType&quot;:&quot;all&quot;,&quot;stylers&quot;:
[{&quot;visibility&quot;:&quot;simplified&quot;},
{&quot;color&quot;:&quot;#797979&quot;}]},
{&quot;featureType&quot;:&quot;landscape&quot;,&quot;elementType&quot;:&quot;geometry&quot;,&quot;stylers&quot;:
[{&quot;color&quot;:&quot;#000000&quot;},
{&quot;lightness&quot;:20}]},
{&quot;featureType&quot;:&quot;landscape&quot;,&quot;elementType&quot;:&quot;geometry.fill&quot;,&quot;stylers&quot;:
[{&quot;color&quot;:&quot;#151515&quot;}]},
{&quot;featureType&quot;:&quot;landscape.man_made&quot;,&quot;elementType&quot;:&quot;all&quot;,&quot;stylers&quot;:
[{&quot;visibility&quot;:&quot;on&quot;}]},
{&quot;featureType&quot;:&quot;landscape.man_made&quot;,&quot;elementType&quot;:&quot;geometry.fill&quot;,
&quot;stylers&quot;:
[{&quot;color&quot;:&quot;#151515&quot;}]},
{&quot;featureType&quot;:&quot;landscape.natural.landcover&quot;,&quot;elementType&quot;:&quot;all&quot;,
&quot;stylers&quot;:
[{&quot;visibility&quot;:&quot;on&quot;}]},
{&quot;featureType&quot;:&quot;landscape.natural.landcover&quot;,&quot;elementType&quot;:&quot;geometry&quot;,
&quot;stylers&quot;:
[{&quot;color&quot;:&quot;#151515&quot;}]},
{&quot;featureType&quot;:&quot;landscape.natural.landcover&quot;,&quot;elementType&quot;:&quot;geometry.fill&quot;,
&quot;stylers&quot;:
[{&quot;color&quot;:&quot;#151515&quot;}]},
{&quot;featureType&quot;:&quot;landscape.natural.terrain&quot;,&quot;elementType&quot;:&quot;all&quot;,
&quot;stylers&quot;:
[{&quot;visibility&quot;:&quot;off&quot;}]},
{&quot;featureType&quot;:&quot;landscape.natural.terrain&quot;,&quot;elementType&quot;:&quot;geometry&quot;,
&quot;stylers&quot;:
[{&quot;color&quot;:&quot;#151515&quot;}]},
{&quot;featureType&quot;:&quot;landscape.natural.terrain&quot;,&quot;elementType&quot;:&quot;geometry.fill&quot;,
&quot;stylers&quot;:
[{&quot;color&quot;:&quot;#151515&quot;}]},
{&quot;featureType&quot;:&quot;poi&quot;,&quot;elementType&quot;:&quot;geometry&quot;,&quot;stylers&quot;:
[{&quot;lightness&quot;:21},
{&quot;color&quot;:&quot;#151515&quot;}]},
{&quot;featureType&quot;:&quot;poi&quot;,&quot;elementType&quot;:&quot;geometry.fill&quot;,&quot;stylers&quot;:
[{&quot;color&quot;:&quot;#151515&quot;}]},
{&quot;featureType&quot;:&quot;poi&quot;,&quot;elementType&quot;:&quot;geometry.stroke&quot;,&quot;stylers&quot;:
[{&quot;color&quot;:&quot;#151515&quot;}]},
{&quot;featureType&quot;:&quot;road.highway&quot;,&quot;elementType&quot;:&quot;geometry.fill&quot;,&quot;stylers&quot;:
[{&quot;color&quot;:&quot;#000000&quot;},
{&quot;lightness&quot;:17}]},
{&quot;featureType&quot;:&quot;road.highway&quot;,&quot;elementType&quot;:&quot;geometry.stroke&quot;,
&quot;stylers&quot;:
[{&quot;color&quot;:&quot;#000000&quot;},
{&quot;lightness&quot;:29},
{&quot;weight&quot;:0.2}]},
{&quot;featureType&quot;:&quot;road.highway.controlled_access&quot;,&quot;elementType&quot;:&quot;geometry&quot;,
&quot;stylers&quot;:
[{&quot;visibility&quot;:&quot;on&quot;},
{&quot;color&quot;:&quot;#be3e08&quot;}]},
{&quot;featureType&quot;:&quot;road.arterial&quot;,&quot;elementType&quot;:&quot;geometry&quot;,&quot;stylers&quot;:
[{&quot;color&quot;:&quot;#be3e08&quot;},
{&quot;lightness&quot;:18},
{&quot;visibility&quot;:&quot;on&quot;}]},
{&quot;featureType&quot;:&quot;road.arterial&quot;,&quot;elementType&quot;:&quot;geometry.stroke&quot;,
&quot;stylers&quot;:
[{&quot;color&quot;:&quot;#000000&quot;}]},
{&quot;featureType&quot;:&quot;road.local&quot;,&quot;elementType&quot;:&quot;all&quot;,&quot;stylers&quot;:
[{&quot;visibility&quot;:&quot;off&quot;},
{&quot;color&quot;:&quot;#ff0000&quot;}]},
{&quot;featureType&quot;:&quot;road.local&quot;,&quot;elementType&quot;:&quot;geometry&quot;,&quot;stylers&quot;:
[{&quot;color&quot;:&quot;#be3e08&quot;},
{&quot;lightness&quot;:16}]},
{&quot;featureType&quot;:&quot;road.local&quot;,&quot;elementType&quot;:&quot;geometry.fill&quot;,&quot;stylers&quot;:
[{&quot;visibility&quot;:&quot;on&quot;}]},
{&quot;featureType&quot;:&quot;road.local&quot;,&quot;elementType&quot;:&quot;geometry.stroke&quot;,&quot;stylers&quot;:
[{&quot;color&quot;:&quot;#000000&quot;}]},
{&quot;featureType&quot;:&quot;transit&quot;,&quot;elementType&quot;:&quot;geometry&quot;,&quot;stylers&quot;:
[{&quot;color&quot;:&quot;#000000&quot;},
{&quot;lightness&quot;:19}]},
{&quot;featureType&quot;:&quot;water&quot;,&quot;elementType&quot;:&quot;geometry&quot;,&quot;stylers&quot;:
[{&quot;color&quot;:&quot;#000000&quot;},
{&quot;lightness&quot;:17},
{&quot;visibility&quot;:&quot;on&quot;}]},
{&quot;featureType&quot;:&quot;water&quot;,&quot;elementType&quot;:&quot;geometry.fill&quot;,&quot;stylers&quot;:
[{&quot;color&quot;:&quot;#151515&quot;}]}]"
         class="rd-google-map rd-google-map__model">
        <ul class="map_locations">
            <li data-x="-73.9874068" data-y="40.643180">
                <p>9870 St Vincent Place, Glasgow, DC 45 Fr 45.</p>
            </li>
        </ul>
    </div>
</div>
<!-- Global Mailform Output-->
<div id="form-output-global" class="snackbars"></div>
<!-- PhotoSwipe Gallery-->
<div tabindex="-1" role="dialog" aria-hidden="true" class="pswp">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button title="Close (Esc)" class="pswp__button pswp__button--close"></button>
                <button title="Share" class="pswp__button pswp__button--share"></button>
                <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>
                <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>
            <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>
            <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>
            <div class="pswp__caption">
                <div class="pswp__caption__cent"></div>
            </div>
        </div>
    </div>
</div>
