<html data-namespace-typo3-fluid="true" lang="de" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<f:section name="main">
    <f:alias map="{jesus_path:'EXT:user_template/Resources/Public/Images/home-7-2050x1213.jpg',
            jesus:'{f:uri.image(src:{jesus_path})}'}"/>
    <section class="section-40 section-sm-80 section-md-114 bg-image bg-image-dark"
             style="background-image: url({jesus});">
        <div class="shell">
            <div class="range">
                <div class="cell-sm-6 cell-md-7">
                    <article class="post post-quote">
                        <div class="post-left">
                            <time datetime="2016-08-25"><span>08</span><span>25</span></time>
                        </div>
                        <div class="post-main">
                            <div class="post-header">
                                <h1><span class="letters-justify">Who&nbsp;is&nbsp;Jesus&nbsp;&</span>
                                    <span class="letters-justify">what&nbsp;in&nbsp;the</span><span
                                            class="letters-justify">world</span>
                                    <span class="letters-justify">is&nbsp;he&nbsp;doing?</span>
                                </h1>
                            </div>
                            <div class="post-body">
                                <blockquote class="quote-variant-1">
                                    <div class="quote-body">
                                        <q>Jesus is the only way for us to live an abundant life here on Earth,
                                            or
                                            receive eternal life in fellowship with God.</q>
                                    </div>
                                    <div class="quote-caption">
                                        <cite>John Nelson
                                            <small>(pastor)</small>
                                        </cite>
                                    </div>
                                </blockquote>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="cell-sm-6 cell-md-5 offset-top-40 offset-sm-top-0">
                    <ul class="list-xl">
                        <li><a class="product-variant-1" href="#">
                            <figure class="product-image">
                                <f:image alt=""
                                         height="302"
                                         src="EXT:user_template/Resources/Public/Images/home-8-470x302.jpg"
                                         width="470"/>
                            </figure>
                            <div class="product-caption">
                                <h4>
                                    helping
                                    children
                                </h4>
                            </div>
                        </a></li>
                        <li><a class="product-variant-1" href="#">
                            <figure class="product-image">
                                <f:image alt=""
                                         height="302"
                                         src="EXT:user_template/Resources/Public/Images/home-9-470x302.jpg"
                                         width="470"/>
                            </figure>
                            <div class="product-caption">
                                <h4>
                                    life
                                    events

                                </h4>
                            </div>
                        </a></li>
                        <li><a class="product-variant-1" href="#">
                            <figure class="product-image">
                                <f:image alt=""
                                         height="302"
                                         src="EXT:user_template/Resources/Public/Images/home-10-470x302.jpg"
                                         width="470"/>
                            </figure>
                            <div class="product-caption">
                                <h4>
                                    biblical
                                    counseling
                                </h4>
                            </div>
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</f:section>
</html>
