<html data-namespace-typo3-fluid="true" lang="de" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
    <f:section name="main">
        <nav class="navbar navbar-expand-lg navbar-light sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <f:image
                            alt=""
                            src="EXT:user_template/Resources/Public/Images/Logo Gemeinde1!weiss.png"
                    />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <f:for as="headerMenuItem" each="{headerMenu}">
                            <li class="nav-item{f:if(condition: headerMenuItem.children, then: ' dropdown')}">
                                <f:if condition="{headerMenuItem.children}">
                                    <f:then>
                                        <a class="nav-link{f:if(condition: headerMenuItem.children, then: ' dropdown-toggle')}"
                                           href="#"
                                           id="navbarDropdown{headerMenuItem.data.uid}"
                                           role="button"
                                           data-bs-toggle="dropdown"
                                           aria-expanded="false"
                                        >{headerMenuItem.title}</a>
                                    </f:then>
                                    <f:else>
                                        <a class="nav-link{f:if(condition: headerMenuItem.active, then: ' active')}"
                                           aria-current="page"
                                           href="{headerMenuItem.link}"
                                           role="button">{headerMenuItem.title}</a>
                                    </f:else>
                                </f:if>
                                <f:if condition="{headerMenuItem.children}">
                                    <ul class="dropdown-menu"
                                        aria-labelledby="navbarDropdown{headerMenuItem.data.uid}">
                                        <li>
                                            <a class="dropdown-item"
                                               href="{headerMenuItem.link}">{headerMenuItem.title}</a>
                                        </li>
                                        <f:for as="subMenuItem" each="{headerMenuItem.children}">
                                            <li>
                                                <a class="dropdown-item"
                                                   href="{subMenuItem.link}">{subMenuItem.title}</a>
                                            </li>
                                        </f:for>

                                    </ul>
                                </f:if>
                            </li>
                        </f:for>
                    </ul>
                </div>
            </div>
        </nav>
    </f:section>
</html>