<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<f:section name="main">
    <f:alias map="{wedo_path: 'EXT:user_template/Resources/Public/Images/home-2-2050x709.jpg',
            wedo:'{f:uri.image(src:{wedo_path})}'}"/>
    <section style="background-image: url({wedo});"
             class="section-40 section-sm-top-80 section-sm-bottom-110 section-lg-top-110 bg-image bg-image-1">
        <div class="shell">
            <div class="range">
                <div class="cell-sm-6 cell-md-3 height-fill"><a href="#" class="product">
                    <div class="product-header">
                        <div class="unit unit-spacing-sm unit-horizontal">
                            <div class="unit-left"><span class="icon-image">
                                    <f:image src="EXT:user_template/Resources/Public/Images/home-3-54x55.png" alt=""
                                             width="54" height="55"/></span></div>
                            <div class="unit-body">
                                <h4>
                                    new
                                    members
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="product-body">
                        <p>
                            We encourage our new members
                            to improve our church and its community by spreading the Word of God to other people
                            who are doubting whether their faith is real or what power their prayer has.
                            We can help you find your true place in church life.

                        </p>
                    </div>
                </a></div>
                <div class="cell-sm-6 cell-md-3 height-fill offset-top-20 offset-sm-top-0"><a href="#"
                                                                                              class="product">
                    <div class="product-header">
                        <div class="unit unit-spacing-sm unit-horizontal">
                            <div class="unit-left"><span class="icon-image">
                                    <f:image src="EXT:user_template/Resources/Public/Images/home-4-54x55.png" alt=""
                                             width="54" height="55"/></span></div>
                            <div class="unit-body">
                                <h4>church service</h4>
                            </div>
                        </div>
                    </div>
                    <div class="product-body">
                        <p>
                            Because we've been given so much, we love giving back. Engaging in service leads to
                            life change. Whether you serve in a ministry at Jesus Christian Church, or in the
                            world,
                            God calls us to serve one another.

                        </p>
                    </div>
                </a></div>
                <div class="cell-sm-6 cell-md-3 height-fill offset-top-20 offset-md-top-0"><a href="#"
                                                                                              class="product">
                    <div class="product-header">
                        <div class="unit unit-spacing-sm unit-horizontal">
                            <div class="unit-left"><span class="icon-image">
                                    <f:image src="EXT:user_template/Resources/Public/Images/home-5-54x55.png" alt=""
                                             width="54" height="55"/></span></div>
                            <div class="unit-body">
                                <h4>
                                    audio
                                    podcasts
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="product-body">
                        <p>
                            It's hard to get to know a church based on its website. Listen to our podcast
                            recordings to get to know us a little better.

                        </p>
                    </div>
                </a></div>
                <div class="cell-sm-6 cell-md-3 height-fill offset-md-top-0"><a href="#" class="product">
                    <div class="product-header">
                        <div class="unit unit-spacing-sm unit-horizontal">
                            <div class="unit-left"><span class="icon-image">
                                    <f:image src="EXT:user_template/Resources/Public/Images/home-6-54x55.png" alt=""
                                             width="54" height="55"/></span></div>
                            <div class="unit-body">
                                <h4>small groups</h4>
                            </div>
                        </div>
                    </div>
                    <div class="product-body">
                        <p>Small groups are great for meeting and caring for others. One of the central ways we
                            grow as disciples of Jesus is by having intentional relationships with people who
                            share
                            the same goal, and our small groups are the ideal place for that.</p>
                    </div>
                </a></div>
            </div>
        </div>
    </section>
</f:section>
</html>