@import "../variables";
//
// Links
// --------------------------------------------------
.page {
  .link {
    display: inline-block;
    font-family: $font-family-sec;
  }

  .link-inline {
    font: inherit;
    line-height: inherit;
    text-decoration: underline;
  }

  .link-darker {
    &, &:active, &:focus {
      color: $gray-darker;
    }

    &:hover {
      color: $white;
    }
  }

  .link-primary {
    &, &:active, &:focus {
      color: $brand-primary;
    }

    &:hover {
      color: $white;
    }
  }

  .link-sm {
    font-family: $font-family-sec;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .1em;
  }

  .link-md {
    font-family: $font-family-sec;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: .1em;
    text-transform: uppercase;

    @media (min-width: $screen-md-min) {
      font-size: 24px;
    }
  }

  .link-underline {
    text-decoration: underline;
  }

  .link-group {
    > * {
      display: inline-block;
    }

    > * + * {
      &:before {
        content: '|';
        display: inline-block;
        width: 20px;
        font: inherit;
        text-align: center;
      }
    }
  }

  .link-group-contrast {
    a {
      &, &:active, &:focus {
        color: $white;
      }

      &:hover {
        color: $brand-primary;
      }
    }
  }
}