@import "../variables";
//
// Quotes custom
// --------------------------------------------------
.quote {
  &-meta {
  }

  cite {

  }
}

.quote-variant-1 {
  max-width: 300px;
  .quote-body {
    position: relative;
    padding: 20px 0 20px 28px;
    margin-right: 17px;

    &:before,
    &:after {
      position: absolute;
    }

    &:before {
      top: 10px;
      left: 2px;
      content: url('../images/quote-left.png');
    }

    &:after {
      right: -8px;
      bottom: 11px;
      content: url('../images/quote-right.png');
    }
  }

  .quote-caption {
    margin-top: 10px;
  }

  cite {
    font-size: 22px;
    letter-spacing: -.04em;
  }

  small {
    font-size: .46em;
    line-height: 1.2;
    letter-spacing: .04em;
    text-transform: uppercase;

    &:before {
      display: none;
    }
  }
}

@media (min-width: $screen-sm-min) {
  .quote {

  }

  .quote-variant-1 {
    cite {
      font-size: 24px;
    }
  }
}

@media (min-width: $screen-lg-min) {
  .quote {

  }

  .quote-variant-1 {
    .quote-body {
      margin-right: 87px;
    }

    cite {
      font-size: 30px;
    }
  }
}