//
// Custom utilities
// --------------------------------------------------

// Helpers
// -------------------------
.relative {
  position: relative;
}

.block-top-level {
  position: relative;
  z-index: 3;
}

.height-fill {
  @include display-flex;
  @include flex-direction(column);
  @include align-items(stretch);

  > * {
    @include flex-grow(1);
  }
}

.centered {
  @include display-flex;
  @include justify-content(center);
  @include align-items(center);
}

.lh-1 {
  line-height: 1.24;
}

// Main Layout
// -------------------------
* + h1,
* + .h1 {
  margin-top: 10px;
}

* + h2,
* + .h2 {
  margin-top: 15px;
}

* + h3,
* + .h3 {
  margin-top: 20px;
}

* + h4,
* + .h4 {
  margin-top: 25px;
}

* + h5,
* + .h5 {
  margin-top: 20px;
}

* + h6,
* + .h6 {
  margin-top: 15px;
}

* + p {
  margin-top: 10px;
  @media (min-width: $screen-sm-min) {
    margin-top: 19px;
  }
}

hr + * {
  margin-top: 18px;
  @media (min-width: $screen-lg-min) {
    margin-top: 26px;
  }
}

* + .btn {
  display: block;
  font-size: 1em;
  margin-top: 1em;
  margin-bottom: 2em;

  @media (min-width: $screen-sm-min) {
    display: inline-block;
    float: right;
    margin-left: 1em;
  }

  @media (min-width: $screen-lg-min) {
    margin-top: 44px;
  }
}

* + h6,
* + .h6 {
  margin-top: 30px;

  @media (min-width: $screen-lg-min) {
    margin-top: 45px;
  }
}

h6 + *,
.h6 + * {
  margin-top: 20px;
}

* + .link {
  margin-top: 18px;
}

* + .contact-info {
  margin-top: 25px;
}

* + .list-inline {
  margin-top: 32px;
}

* + .list-terms {
  margin-top: 25px;
}

* + h3,
* + .h3 {
  margin-top: 12px;
}

// Misc
// -------------------------
.contact-info {
  vertical-align: baseline;

  a {
    display: inline-block;
  }

  dl {
    dt,
    dd {
      display: inline-block;
    }

    dt {
      @media (min-width: $screen-sm-min) {
        padding-right: 8px;
      }
    }

    dt:after {
      content: ":";
      display: inline-block;
      text-align: center;
    }
  }

  .dl-inline {
    text-transform: uppercase;

    dt {
      padding-right: 0;
    }
  }
}

.contact-info-contrast {
  color: $brand-primary;

  a {
    &,
    &:active,
    &:focus {
      color: $brand-primary;
    }

    &:hover {
      color: $white;
    }
  }
}

.block-image {
  img {
    width: 100%;
    height: auto;
    max-width: none;
  }
}

.text-404 {
  font-size: 120px;
  line-height: 1;
  color: $white;
  font-weight: 400;
  font-family: $font-family-sec;

  small {
    display: block;
    margin-top: -0.3em;
    font-size: 0.65em;
    line-height: 1;
  }

  @media (min-width: $screen-sm-min) {
    font-size: 160px;
  }

  @media (min-width: $screen-md-min) {
    font-size: 220px;
  }

  @media (min-width: $screen-lg-min) {
    font-size: 311px;
  }
}

.shift-1 {
  margin-top: 15px;
  @media (min-width: $screen-lg-min) {
    margin-top: 0;
    position: relative;
    top: -8px;
    right: -7px;
  }
}

.shift-2 {
  @media (min-width: $screen-sm-min) {
    margin-top: -12px;
  }
}

.inset-1 {
  padding-bottom: 22px;
}

.inset-2 {
  @media (min-width: $screen-sm-min) {
    padding: 3px 7px;
  }
}

@media (min-width: $screen-md-min) {
  .news-list-item {
    .col-md-3 {
      > a {
        margin-top: 1em;
      }
    }
  }
}

.range-wrap-1 {
  margin-top: 15px;
  pointer-events: none;

  [class*="cell"] > * {
    pointer-events: auto;
  }

  @media (min-width: $screen-md-min) {
    margin-top: -7px;
  }
}

.shell.shell-variant-1 {
  @media (min-width: $screen-sm-min) {
    width: 100%;
    max-width: 100%;
  }

  @media (min-width: $screen-lg-min) {
    max-width: $shell-lg-width;
  }
}
