<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<f:section name="main">
    <div class="rd-navbar-inner">
        <div class="rd-navbar-panel">
            <f:render arguments="{_all}" partial="Navbar-Toggle"/>
            <a href="/" class="rd-navbar-brand brand-xl">
                <div class="brand-body">
                    <div class="brand-name">
                        <f:image
                                alt=""
                                src="EXT:user_template/Resources/Public/Images/Logo Gemeinde1!weiss.png"
                        />

                    </div>
                    <div class="brand-slogan">{brandSlogan}</div>
                </div>
                <div class="brand-right">
                </div>
            </a>
        </div>
        <f:render partial="Navbar-Nav" section="main" arguments="{_all}"/>
    </div>
</f:section>
</html>