<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<a class="product" href="#">
    <div class="product-header">
        <div class="unit unit-spacing-sm unit-horizontal">
            <div class="unit-left">
                <div class="icon-image">
                    <f:image height="110" src="{data.image}" treatIdAsReference="1" width="110"/>
                </div>
            </div>
            <div class="unit-body">
                <h4>{data.header}</h4>
            </div>
        </div>
    </div>
    <div class="product-body">
        <p>
            {data.bodytext}
        </p>
    </div>
</a>
</html>


