<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<a href="#" class="product">
    <div class="product-header">
        <div class="unit unit-spacing-sm unit-horizontal">
            <div class="unit-left">
                <div class="icon-image">
                    <f:image src="{data.image}" treatIdAsReference="1" width="110" height="110"/>
                </div>
            </div>
            <div class="unit-body">
                <h4>{data.header}</h4>
            </div>
        </div>
    </div>
    <div class="product-body">
        <p>
            {data.bodytext}
        </p>
    </div>
</a>
</html>


